.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  color: #fed;
  background: #246;
}
.page__header {
  padding: 0.5rem 1rem;
  font-size: calc(0.75rem + 2vmin);
  background: rgba(0, 0, 0, 0.3);
}
.page__main {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.4);
}
.page__footer {
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.5);
}
.page__inner-fix {
  max-width: 80rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
